@import "../ui/collapsable.css";
@import "../ui/shortcuts.css";
@import "../ui/status-indicator.css";
@import "../ui/screen-block.css";
@import "../ui/utilities.css";
@import "../ui/permissions.css";
@import "../ui/requires.css";


/* The parent page will expand to fit this page's content, but there is a delay so the scrollbar will flash on and off if we don't hide it: */
:root.embeddedInExtensionPage body {
    overflow-y: hidden;
    font-size: 1.2em;
}
/* The parent page won't resize to fit the horizontal scrollbar so make sure that is never needed for body by showing the scrollbar for child elements instead. */
:root.embeddedInExtensionPage body > * {
    max-width: 100%;
    overflow: auto;
}


#topLinkToOptionsPage {
  float: right;
  padding-right: 1em;
}
:root:not(.embeddedInExtensionPage) #topLinkToOptionsPage {
  display: none;
}


#clearTitlesArea {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
#clearTitlesArea button {
    text-align: center;
    min-height: 3em;
    font-size: 1em;
    width: 40%;
}


#formatArea {
    padding-top: 20px;
}
#formatPlaceholders {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#formatPlaceholders > * {
    cursor: text;
    margin-top: 5px;
}


#windowDefaultName,
#windowPrefixFormat {
    width: 90%;
    margin: 10px;
    margin-left: 4%;
}


#fixNoTabForNewTabPagesArea {
    padding: 5px;
}


#windowDataArea > .buttonArea {
    display: flex;
    justify-content: space-around;
}
#applyDefaultWindowNameButton,
#clearWindowDataButton {
    height: 40px;
}


#resetSettingsButton {
    padding: 10px;
}
