@import "../ui/collapsable.css";
@import "../ui/shortcuts.css";
@import "../ui/status-indicator.css";
@import "../ui/screen-block.css";
@import "../ui/utilities.css";
@import "../ui/permissions.css";
@import "../ui/requires.css";


body {
    overflow-y: hidden;
    font-size: 1.2em;
}


#clearTitlesArea {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
#clearTitlesArea button {
    text-align: center;
    min-height: 3em;
    font-size: 1em;
    width: 40%;
}


#formatArea {
    padding-top: 20px;
}
#formatPlaceholders {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#formatPlaceholders > * {
    cursor: text;
    margin-top: 5px;
}


#windowDefaultName,
#windowPrefixFormat {
    width: 90%;
    margin: 10px;
    margin-left: 4%;
}


#fixNoTabForNewTabPagesArea {
    padding: 5px;
}


#windowDataArea > .buttonArea {
    display: flex;
    justify-content: space-around;
}
#applyDefaultWindowNameButton,
#clearWindowDataButton {
    height: 40px;
}


#resetSettingsButton {
    padding: 10px;
}
